{% extends 'base.html.twig' %} {% block title %}Hello HomepageController!{% endblock %} {% block body %}
<div class="min-vh-100 bg-dark text-white">
    <p class="text-center align-middle">Site internet de Strasbourg d'achat et de location de vélo.</p>
</div>

{% endblock %}