{% extends 'base.html.twig' %}

{% block title %}Hello BikeController!{% endblock %}

{% block body %}
<div class="row m-3 justify-content-center">
{% for bike in bikes %}
  
  <div class="card m-3 col-lg-3 col-sm-12">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{bike.name}}</h5>
      <p class="card-text">{{bike.description}}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Prix : {{bike.price}}</small>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
