{% extends 'base.html.twig' %} {% block title %}Hello HomepageController!{% endblock %} {% block body %}
<div class="min-vh-100 bg-dark text-white">
    <p class="text-center align-middle">Merci pour la location, veuillez vous rendre en magasin pour récupérer vos vélos.</p>
</div>

{% endblock %}